body{
  background-image: url(../img/Domino.jpg);
  background-size: cover;

  }

.title{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
  background-color: #3367e0;
}

.boardtable {
  height: 600px;
  margin: 20px auto;
  width: 600px;
  background-color: red;

}

.cell-board {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 20px;
  width: 20px;
  background-color: #474747;
}

.cell-board.filled {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 20px;
  width: 20px;
  background-color: white;
}

.board {
  background-color: #E3D4AB;
}


.player{
  height: 80px;
  margin: 20px auto;
  padding-top: 20px;
  height: auto;
  width: 240px;
  background-color: blue;
}


.nameplayer{
  text-align: center;
}

#dominoesplayerone, #dominoesplayertwo{
  height: 40px;
  background-color: grey;
}

#dominoesplayerone.hide, #dominoesplayertwo.hide{
  visibility: hidden;
  height: 40px;
  background-color: grey;
}

.dominonumberclass{
  border: 2px;
  border-color: black;
}
.dominoplayerone,.dominoplayertwo {
  float: left;
  height: 40px;
  width: 30px;
  border: 1px;
  border-color: black;
  font-weight: bold;
  color: black;
  margin: 0 auto;
  background-color: DimGray;
  text-align: center;
}

.dominoplayertwo.filled,.dominoplayerone.filled{
  float: left;
  height: 40px;
  width: 30px;
  border: 1px;
  border-color: black;
  font-weight: bold;
  color: black;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
