body{
  background-image: url(../img/Domino.jpg);
}

.player{
  height: 80px;
  margin: 20px auto;
  padding-top: 20px;
  height: auto;
  width: 240px;
  background-color: blue;
}


.namePlayer{
  text-align: center;
}

#dominoesPlayerOne, #dominoesPlayerTwo{
  height: 40px;
  background-color: grey;
}

.dominoNumberClass{
  border: 2px;
  border-color: black;
}
.dominoPlayerOne,.dominoPlayerTwo {
  float: left;
  height: 40px;
  width: 30px;
  border: 1px;
  border-color: black;
  font-weight: bold;
  color: black;
  margin: 0 auto;
  background-color: DimGray;
  text-align: center;
}

.dominoPlayerTwo.filled,.dominoPlayerOne.filled {
  float: left;
  height: 40px;
  width: 30px;
  border: 1px;
  border-color: black;
  font-weight: bold;
  color: black;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
